.m-short {
      max-width: 640px;
      height: auto;
}

.btn {
      width: 100%;
      margin-top: 1rem;
}

.error {
      color: red;
      font-size: 1rem;
      text-transform: capitalize;
      margin: 5px 0;
      padding: 1rem;
      background-color: beige;
}